*{
      font-family: "Poppins", sans-serif;

}
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}
.primary-color{
    color: #00BCFF;
}

.border-primary{
    border-color: #422AD5;
}
.secondary-color{
    color: #422AD5;
}
.details-btn{
    background-color: #e8f4ff;
}

/* Active Lesson Button Style */
.active-lesson{
    background-color: #422ad5;
    color: #ffffff;
    border: 1px solid #ffffff;
}