*{
      font-family: "Poppins", sans-serif;

}
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}
.primary-color{
    color: #00BCFF;
}

.border-primary{
    border-color: #422AD5;
}
.secondary-color{
    color: #422AD5;
}